*{
    padding: 0;
    margin: 0;
}

.header-bar {
  position: absolute;
  display: flex;
  justify-content: start;
  gap: 1vh;
  top: 0;
  left: 0;
  height: 5%;
  width: 100%;
  background-color: #333;
  text-align: center;
}

.header-bar a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5vh;
    color: white;
}

.open-btn {
    width: 15%;
    height: 100%;
    padding: 10px 20px;
    font-size: 16px;
    font-size: 600;
    background-color: darkgray;
}

.open-btn.active {
  background: white;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.fullscreen-block {
  display: none;
  position: absolute;
  top: 7vh;
  left: 0;
  width: 100%;
  /* height: 95%; */
  background: white;
  /* z-index: 2000; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.fullscreen-block {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s;
}

.fullscreen-block.active {
  opacity: 1;
  visibility: visible;
  display: flex; /* display можно оставить flex, но visibility управляет видимостью */
}

form{
  padding: 3vh 0;
  display: flex;
  flex-flow: column;
  gap: 3vh;
}

form button{
  font-size: 16px;
  padding: 1vh;
  border:1px solid #333;
}

.all-news{
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.news-list{
  width: 90%;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 3vh;
  gap: 3vh;
}

.new-adm{
  border: 1px solid gray;
  padding: 1vh;
  border-radius: 15px;
}

.new-title-adm{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}